$mint: #a7e8bd;
$lpink: #fcbcb8;
$dpink: #efa7a7;
$yellow: #ffd972;
$red: #f25c54;
$red-overlay: rgba(242, 92, 84, 0.6);
$mint-overlay: rgba(167, 232, 189, 0.6);
$shadow-1: rgba(0, 0, 0, 0.19) 0px 0px 0px;
$shadow-2: rgba(0, 0, 0, 0.23) 0px 6px 6px;
