#wrapper {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

.wrapper {
  &--home {
    background-image: linear-gradient(to right, $red-overlay, $red-overlay),
      url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--login {
    background-color: $yellow;
  }
  &--create {
    background-color: #fff;
  }
  &--recipes {
    background-image: linear-gradient(to right, $mint-overlay, $mint-overlay),
      url(../images/recipe-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--view {
    background-color: #fff;
  }
}
