<div class="viewRecipe">
  <div class="info-section">
    <div class="cover">
      <div class="recipeName"></div>
    </div>
    <div class="text-container"></div>
  </div>
  <div class="recipe-section ingredients">
    <div class="recipe-section__header">
      <h1>Ingredients:</h1>
    </div>
    <div class="ingredients__container"></div>
  </div>

  <div class="recipe-section instructions">
    <div class="recipe-section__header">
      <h1>Instructions:</h1>
    </div>
    <div class="instructions__container"></div>
  </div>
  <div class="recipe-section editContainer"></div>
</div>
